@charset "UTF-8"

html{
	font-size:62.5%;
}

*,*::before,*::after{
	box-sizing:border-box;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

body{
	background:#040207 url('../image/bg2.jpg') no-repeat fixed left bottom;
	background-size:contain;
	color:#fff;
	text-align:center;
	font-size:1.4rem;
	font-family:Raleway,"Hiragino KaKu Gothic",Meriryo,sans-serif;
	margin: 0px;
	font-family: , sans-serif;
}

.header{
	padding:150px 30px 120px;
}

.head-title{
	margin:0 0 30px;
	letter-spacing:1px;
	font-size:2.8rem;
}
.head-title::before,.head-title::after
{
    content:"";
	display:inline-block;
	width:140px;
	height:2px;
	margin:0 30px;
	background-color:#fff;
	vertical-align:middle;
}

@keyframes typing { from { width: 0 } }
@keyframes caret { 50% {border-color: transparent;} }

.head-name{
	display:inline-block;
	margin:60px 0 30px;
	font-size:6.4rem;
	white-space: nowrap;
	overflow:hidden;
	width:100%;
	border-right: 0.2em solid;
	animation: typing 4s steps(10),caret 0.5s steps(1) infinite;
}

.head-bottom{
	margin-bottom:50px;
	color:#f5f5f5;
	font-size:1.7rem;
}

.button{
	display:inline-block;
	background-color:#afa58d;
	width:200px;
	padding:20px;
	text-decoration:none;
	letter-spacing:1px;
	color:#fff;
	border-radius:13px;
	font-size:1.2rem;
	margin:0 8px;
}

.button:hover{
	opacity:0.8;
}

.button2{
	background-color:#f1b400;
}

.buttons.button{
	margin:10px;
}

.about{
	padding:50px 30px;
	background-color:#fdf5e6;
	color:#333;
	display:block;
	z-index:10;
}

.sec1{
	width:100%;
	background-color:#f5f5f5;
	height:130px;
}

.sec1head{
	display:inline-block;
	letter-spacing:2px;
	font-size:3rem;
	margin:30px;
	position:relative;
	padding-bottom:15px;
}

.sec1head::before,.sec1head::after{
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	border-top:2px solid #999;
}

.sec1head::before{
	bottom:4px;
}

.sec2{
	background:url('../image/me4.jpg') no-repeat;
	background-size:contain;
	width:45%;
	background-color:#f5f5f5;
	float:left;
	height:575px;
}
.sec3{
	float:right;
	width:55%;
	background-color:#f5f5f5;
	height:575px;
	overflow-y:auto;
}

.sec3text{
	text-align:left;
	margin:40px 0;
	line-height:1.55;
	font-family:"微軟正黑體";

}

.sec3first{
	font-size:3.6rem;
	float: left;
	font-weight : bold;
	line-height:1.55;

}
.onetotwo{
	width:100%;
	height:30px;
	background:linear-gradient(#fdf5e6,#41354D);
}
.works{
	font-size:1.05rem;
	background-color:#41354D;
	height:800px;
	width:100%;
	padding:45px 0;
}

.workshead{
	display:inline-block;
	letter-spacing:2px;
	font-size:3rem;
	margin:30px;
	padding:8px 20px;
	background-color:#41358d;
	border-radius:15px;
	box-shadow:6px 6px 15px black;
}

.workspar{
	display:table;
	width:100%;
	margin-top:60px;
	table-layout:fixed;
}

.worksch{
	position:relative;
	display:table-cell;

}

.work-img{
	display:block;
	width:100%;
	margin:0 0 60%;

}

.worksch::after{
	background:url('../image/workback.jpg') no-repeat;
	background-size:100% 100%;
	content:"";
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	height:50%;
	opacity:0.26;

}

.work-description{
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	height:50%;
	z-index:1;
	overflow-y:auto;
}
.work-description-inner{
	display:table;
	width:100%;
	height:100%;
	padding:20px;
}
.work-text{
	display:table-cell;
	vertical-align:middle;
	font-size:1rem;
	line-height:1.5;
	white-space:nowrap;
}
.work-text .button{
	width:60%;
	margin-top:20px;
	padding:10px;
	white-space:nowrap;
	}


.button-ghost{
;
	border:1px soild #fff;
	background-color:rgba(255,255,255,0.15);
}
.worksch:nth-child(odd) .work-img{
	margin:60% 0 0;
}
.worksch:nth-child(odd) .work-description,
.worksch:nth-child(odd)::after{
	top:0;
}

.twotothree{
	width:100%;
	height:50px;
	background:linear-gradient(#41354D,#fff);
}
.skills0{
	display:black;
	background-color:#fff;
	height:630px;
	width:100%;
}
.skills{
	margin:0px 40px 40px;
	background-color:#fff;
	color:#333;
	border:4px double;
	height:590px;
}

.skills-wrapper{
	display:table;
	width:80%;
	margin:50px auto 0;
	table-layout:fixed;
}

.skills-box{
	display:table-cell;
}


.skill-icon{
	width:150px;
	height:150px;
	border:4px solid;
	border-radius:50%;
	color:#f1b400;
	font-size:4.5rem;
	margin-bottom:30px;
	line-height:137px;
}

.skill-text-div{
	overflow-y:auto;
	height:140px;
}

.skill-title{
	margin:0 20px 20px;
	font-size:2rem;
}

.skill-text{
	margin:0 20px;
	line-height:1.5;
}

.threetofour{
	width:100%;
	height:20px;
	background:linear-gradient(#fff,#fdf5e6);
}

.livetitle{
	background:#bf827c;
	color:#fff;
}
.live{
	background-color:#fdf5e6;
	height:auto;
	width:100%;
	color:#333;
}

.livetd{
	width:20%;
}
.centertd{
	width:60%;
	background-color:#fdf5e6;
}
.liveimg{
	width:100%;
}
#centerimg{
	width:100%;
}

.contact{
	padding:80px 0 150px;

}

.contact-me{
	border-radius:5px;
	text-align:left;
	margin:auto auto;
	border:1px solid #fff;
	background-color:#3C3C3C;
	width:70%;
	height:150px;
	font-size:1.6rem;
}
.email{
	color:#fff;
}
.fourtofive{
	width:100%;
	height:10px;
	background:linear-gradient(#fdf5e6,#040207);
}



.contact-table{
	margin:auto 0;
	width:100%;
	line-height:1.5;
}

.contacttd{
	width:20%;
}

.contact-talk{
	height:200px;
	line-height:2;
}
.footer{
	padding:12px;
	font-size:0.7em;
	background-color:#040207;
}
@media(max-width:1024px){
	body{
		background-image:none;
	}
}
@media(max-width:826px){
	.head-title::before,.head-title::after
	{
		display:block;
		width:60%;
		margin:10px auto;
	}
	.head-title{
		font-size:1.4rem;
	}
	.head-name{
		font-size:1.7rem;
	}
	.header{
		padding-top:75px;
	}
	.about{
		padding:30px 20px;
 	}
	.sec2{
		background-size:100% auto;
		display:block;
		margin:auto;
		width:100%;
		height:300px;
	}
	.sec3{
		float:left;
		width:100%;
		font-size:1.3rem;
		height:300px;
	}
	.sec3text{
		line-height:1.3;
	}
	.works{
		height:700px;
		overflow-y:auto;
		padding:20px 0;
	}
	.workspar{
		padding:0 30px;
		margin-top:30px;
	}
	.workspar,.worksch{
		display:block;
	}
	.worksch{
		border:1px solid #fff;
	}
	.work-img{
		display:none;
	}
	.work-description{
		position:relative;
	}
	.worksch::after{
		background:no-repeat;
		top:0;
		height:100%;
		background-size:cover;
	}
	.worksch.one::after{
		background-image:url('../image/money.jpg');
	}
	.worksch.two::after{
		background-image:url('../image/map.jpg');
	}
	.worksch.three::after{
		background-image:url('../image/teather.jpg');
	}
	.worksch.four::after{
		background-image:url('../image/sql.jpg');
	}
	.worksch.five::after{
		background-image:url('../image/studio.jpg');
	}
	.skills-wrapper,.skills-box{
		display:block;
	}
	.skills{
		overflow-y:auto;
	}
	.skill-icon{
		width:100px;
		height:100px;
		font-size:3rem;
		line-height:92px;
	}
	.skills-box{
		margin:40px auto;
	}
	.skill-text{
		margin:0;
	}
	.live{
		height:800px;
	}
	.live-table{
		padding-top:65px
	}
	.livetitle{
		font-size:2.2rem;
	}
	.contact{
		padding-bottom:80px;
	}
	.contact-table{
		font-size:0.9rem;
		width:70%
	}
	.contact-talk{
		font-size:1rem;
		line-height:2;
		overflow-y:auto;
	}
}
